# Intermediate
ApplicationDll/bin/
ApplicationDll/obj/

NativeApp/Debug/
NativeApp/Debug64/
NativeApp/Release/
NativeApp/Releas64/

OpenGLForm/Debug/
OpenGLForm/Debug64/
OpenGLForm/Release/
OpenGLForm/Releas64/

OpenGLFormApplication/bin/
OpenGLFormApplication/obj/

ThreadManager/Debug/
ThreadManager/Debug64/
ThreadManager/Release/
ThreadManager/Releas64/

WrappedNativeApp/Debug/
WrappedNativeApp/Debug64/
WrappedNativeApp/Release/
WrappedNativeApp/Releas64/

# Output directories
Debug/
Debug64/
Release/
Releas64/

*.user
*.bak
ipch*
*.ncb
*.suo
*.sdf
