# Intermediate
ApplicationDll/bin/
ApplicationDll/obj/

NativeApp/Debug/
NativeApp/Debug64/
NativeApp/Release/
NativeApp/Releas64/

OpenGLForm/Debug/
OpenGLForm/Debug64/
OpenGLForm/Release/
OpenGLForm/Releas64/

OpenGLFormApplication/bin/
OpenGLFormApplication/obj/

ThreadManager/Debug/
ThreadManager/Debug64/
ThreadManager/Release/
ThreadManager/Releas64/

WrappedNativeApp/Debug/
WrappedNativeApp/Debug64/
WrappedNativeApp/Release/
WrappedNativeApp/Releas64/

# Output directories
Debug/
Debug64/
Release/
Releas64/

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
